.w {
  width: 1200px;
  margin: 0 auto;
}

header {
  height: 30px;
  background-color: #57a6f8;
}

a {
  color: rgb(245, 242, 242);
}

header .w .login {
  font-size: 16px;
  line-height: 30px;
}

.content {
  padding-top: 70px;
}

.content .logo {
  font-size: 60px;
  text-align: center;
}

.content .search {
  margin: 50px 0 0 200px;
  line-height: 40px;
}

.logo {
  color: #57a6f8;
  padding-bottom: 20px;
  margin-bottom: 50px;
  padding-right: 20px;
  box-shadow: 10px 5px 5px rgb(68, 155, 222);
  border: 2px solid rgb(52, 172, 236);
  border-radius: 66px;
}

/* .content .search #searchBar {
  padding-left: 3px;
  width: 700px;
  height: 40px;
  border: 1px solid red;
  border-radius: 3px;
  vertical-align: bottom;
  font-size: 30px;
} */

.content .search button {
  height: 40px;
  width: 100px;
  margin: 0;
}

.recipe_list {
  margin-top: 50px;
}

.recipe_list .recipe {
  margin: 0 auto;
  border: 3px solid #57a6f8;
  border-radius: 5px;
  width: 800px;
  margin-bottom: 50px;
}

.recipe_list .recipe .recipe_title {
  margin-top: 20px;
  text-align: center;
}

.recipe_list .recipe .recipe_content {
  padding: 30px;
}

.recipe_list .recipe .recipe_content .recipe_img {
  float: left;
}

.recipe_list .recipe .recipe_content .recipe_img img {
  width: 300px;
}

.recipe_list .recipe .recipe_content .recipe_ingredient_list {
  float: left;
  margin-left: 150px;
}

.recipe_list .recipe .recipe_content .recipe_ingredient_list .ingredient {
  font-size: 14px;
}

.like-button {
  float: right;
}

.instructions {
  margin: 30px auto;
  margin-top: 5px;
  width: 734px;
  line-height: 20px;
  font-size: 14px;
}

.diet_options {
  text-align: center;
  line-height: 42px;
}

.diet_options h2 {
  display: inline-block;
  color: #57a6f8;
}

.not_selected_diet_option {
  font-size: 16px;
}

.selected_diet_option {
  transition: 0.2s;
  color: #2accf9;
  font-size: 16px;
}

.nutrition {
  margin: 30px auto;
  margin-top: 5px;
  width: 734px;
}

.low_nutrition {
  color: green;
  font-size: 16px;
}

.high_nutrition {
  color: red;
  font-size: 16px;
}
