.login-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.registration{
    display: flex;
    flex-direction: column;
    margin-bottom:30px;
}

.login{
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
}