.options-bar{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    width: 1200px;
    height: 50px;
    background-color:rgb(1, 193, 240);
    border: 8px solid rgb(12, 154, 190);
}
.options{
    color: black;
    font-size: 22px;
    font-weight: bold;
    padding-right: 50px;
}
 